* MSV_HoVaTen:
521H0501_Phan Minh Hoàng,
521H0398_Lê Nguyễn Viết Hiệp,
521H0276_Trang Sĩ Nam

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [44]:
# Read data from csv file
data = pd.read_csv('American_Housing_Data_20231209.csv')

In [45]:
# Toltal row, column in dataset
data.shape

(39981, 14)

In [46]:
data.describe()

,Zip Code,Price,Beds,Baths,Living Space,Zip Code Population,Zip Code Density,Median Household Income,Latitude,Longitude
count,39981.000000,3.998100e+04,39981.000000,39981.000000,39981.000000,39981.000000,39981.000000,39979.000000,39981.000000,39981.000000
mean,64833.391336,6.227771e+05,3.171682,2.466572,1901.522723,37726.201996,2379.412483,110837.259861,36.435668,-98.080576
std,25614.601116,9.469793e+05,1.308796,1.323042,1211.307257,18672.647445,2946.574792,47309.055715,4.446862,15.061145
min,10013.000000,1.800000e+03,1.000000,1.000000,2.000000,0.000000,0.000000,27475.000000,25.729830,-122.826870
25%,40215.000000,2.650000e+05,3.000000,2.000000,1200.000000,24465.000000,902.400000,76640.000000,33.239850,-111.636310
50%,74136.000000,3.999000e+05,3.000000,2.000000,1639.000000,35049.000000,1588.700000,100405.000000,36.166620,-96.839680
75%,85730.000000,6.749900e+05,4.000000,3.000000,2265.000000,46816.000000,2736.800000,135075.000000,39.283090,-85.656980
max,98199.000000,3.800000e+07,54.000000,66.000000,74340.000000,116469.000000,58289.600000,900203.000000,47.742370,-73.704510

In [47]:
data = data.dropna()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39979 entries, 0 to 39980
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Zip Code                 39979 non-null  int64
 1   Price                    39979 non-null  float64
 2   Beds                     39979 non-null  int64
 3   Baths                    39979 non-null  int64
 4   Living Space             39979 non-null  int64
 5   Address                  39979 non-null  object
 6   City                     39979 non-null  object
 7   State                    39979 non-null  object
 8   Zip Code Population      39979 non-null  int64
 9   Zip Code Density         39979 non-null  float64
 10  County                   39979 non-null  object
 11  Median Household Income  39979 non-null  float64
 12  Latitude                 39979 non-null  float64
 13  Longitude                39979 non-null  float64
dtypes: float64(5), int64(5), object(4)
memory usage: 4.6+ MB

In [48]:
# Check duplicate
data.duplicated().value_counts()

False    39017
True       962
Name: count, dtype: int64

In [49]:
data = data.drop_duplicates()
data.shape

(39017, 14)

# Transformation

In [50]:
# Tranform data
from sklearn.preprocessing import LabelEncoder

types = data.dtypes
names = list(data.columns)

le = LabelEncoder()
for i in range(len(types)):
    if types.iloc[i]=='object':
        le.fit_transform(data[names[i]])
        data[names[i]] = le.transform(data[names[i]])
print(data.shape)

(39017, 14)

# Normalization

In [51]:
from sklearn.preprocessing import MinMaxScaler
features = data.drop(['Price'], axis=1)

scaler = MinMaxScaler()
model=scaler.fit(features)
scaled_data= pd.DataFrame(model.transform(features))

# Feature Selection

In [52]:
X = scaled_data
y = data['Price']

In [53]:
from sklearn.feature_selection import SelectKBest, f_regression
select_feature =  SelectKBest(score_func=f_regression, k = 9)
f_best = select_feature.fit(X, y)               
X_new = f_best.transform(X)
X_new.shape

(39017, 9)

In [54]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay
from sklearn.metrics import classification_report

X_train, X_test, Y_train, Y_test = train_test_split(X_new, y, random_state = 42, test_size=0.2)

# K Nearest Neighbour

In [55]:
# Train model
from sklearn.neighbors import KNeighborsRegressor
KNN = KNeighborsRegressor(n_neighbors = 5, p=2, metric='euclidean')
KNN.fit(X_train, Y_train)

# test model
Y_pred = KNN.predict(X_test)

r2 = r2_score(Y_test, Y_pred)
MSE = mean_squared_error(Y_test, Y_pred)
print("Mean Square Error: ",MSE)
print("R2 Score: ",r2)

Mean Square Error:  349998057586.45056
R2 Score:  0.6457259451401118

# Linear Regression

In [56]:
# Train model
from sklearn.linear_model import LinearRegression
LR = LinearRegression().fit(X_train,Y_train)

# Test Model
Y_pred = LR.predict(X_test)

r2 = r2_score(Y_test, Y_pred)
MSE = mean_squared_error(Y_test, Y_pred)
print("Mean Square Error: ",MSE)
print("R2 Score: ",r2)

Mean Square Error:  556163804255.0157
R2 Score:  0.43704142971977067

# Desision Tree

In [60]:
from sklearn.tree import DecisionTreeRegressor
dTree = DecisionTreeRegressor(max_depth=5)
dTree.fit(X_train, Y_train)

Y_pred = dTree.predict(X_test)

r2 = r2_score(Y_test, Y_pred)
MSE = mean_squared_error(Y_test, Y_pred)
print("Mean Square Error: ",MSE)
print("R2 Score: ",r2)

Mean Square Error:  462132621439.1699
R2 Score:  0.5322214105721295